@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html,
body {
    background-color: #6C7F7F;
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-family: Bitter, 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}

h2 {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.page {
    max-width: 1400px;
    width: 100%;
    background-color: #D8FFFF;
    color: #6C7F7F;
    margin: 0 auto;
    background-color: #D8FFFF;
    color: #6C7F7F;
    box-shadow: 2px 1px 4px #D8FFFF;
/*    display: none;*/
    min-height: 25rem;
    transform: translateX(-100%);
    transition: transform 1s;
    position: absolute;
     height: auto ; /* real browsers */
  min-height: 100%; 

}

.active {
/*    display: block;*/
    transform: translateX(0);
    transition: transform 0,5s;
}

header {
    border-bottom: 0.8rem solid #70CCCB;
    background-color: #467F7F;
    color: #D8FFFF;
    box-shadow: 2px 1px 4px #467F7F;
    width: 100%
}

input,
button {
    width: 99%;
    padding: 1rem 0.2rem;
    margin: 0.1rem 0.2rem;
    font-size: 2rem;
   
}

button {
    cursor: pointer;
    background-color: #50B2B2;
    color: #D8FFFF;
    box-shadow: 2px 1px 4px #111;
     position: absolute;
    bottom: .5rem;
    left:1px;
}

#btnSend:hover,
#btnBack:hover {
    cursor: pointer;
    background-color: #50B2B2;
    color: #11FFFF;
    box-shadow: none;
}

.formBox label,
.formBox span {
    margin: 1rem 0.2rem;
    font-size: 2rem;
}

.main {
    width: 100%;
    min-height: 80%;
}


.formBox {

    /*    float: left;*/
    display: block;
}

.clr2 {
    clear: both;
    height: 2rem;
}

ul.num_list {
        width: 70%;
    margin: 0 auto;
}

.num_list li {
    border: solid #50B2B2 1px;
    list-style: none;
    width: 3rem;
    padding: 1rem 1rem;
    text-align: center;
    margin: 1rem;
    float: left;
}

@media only screen and (min-width: 25em) {
    /* small */
    
    html {
        font-size: 100%;
        line-height: 1.3;
    }
   
    .num_list li {
/*        margin: 2rem;*/
    }
}

@media only screen and (min-width: 38em) {
    /* medium */
   
    html {
        font-size: 110%;
        line-height: 1.4;
    }
    h2 {
        font-size: 110%;
    }

    .main {
        width: 80%;
        padding-left: 20%;
    }
    .formBox:first-child {
        padding-top: 1rem;
    }
    .formBox {
        width: 100%;
        /*        padding-top: 1rem;*/
        /*        float: left;*/
    }
    .formBox label {
        margin: 1rem 0.2rem;
        font-size: 1rem;
    }
    .formBox label:first-child {
        width: 50%;
    }
    .formBox span {
        margin: 1rem 0.2rem;
        font-size: 1rem;
        padding-right: 2.2rem;
    }
    input {
        width: 95%;
        padding: 0rem 0.2rem;
        margin: 0.1rem 0.2rem;
        font-size: 1rem;
    }
     button{
        position: relative;
         bottom: 0;
    }
    #btnSend {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
    #btnBack {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
    .formBox.buttons {
        width: 100%;
        text-align: right;
        padding-top: 0.4rem;
    }
    
    .num_list li {
/*        margin: 2rem;*/
    }
}

@media only screen and (min-width: 60em) {
    /* large */
    html {
        font-size: 120%;
        line-height: 1.5;
    }
    .main {
        width: 80%;
        padding-left: 20%;
    }
  
    .formBox {
        width: 50%;
        padding-top: 1rem;
        float: left;
    }
    .formBox label {
        margin: 1rem 0.2rem;
        font-size: 1rem;
    }
    .formBox label:first-child {
        width: 50%;
    }
    .formBox span {
        margin: 1rem 0.2rem;
        font-size: 1rem;
        padding-right: 2.2rem;
    }
    input {
        width: 95%;
        padding: 0rem 0.2rem;
        margin: 0.1rem 0.2rem;
        font-size: 1rem;
    } button{
        position: relative;
         bottom: 0;
    }

    #btnSend {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;

    }
    #btnBack {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;

    }


    .formBox.buttons {
        width: 100%;
        text-align: right;
        padding-top: 0.4rem;
    }

    
    .num_list li {
/*        margin: .5rem;*/
    }

}

@media only screen and (min-width: 90em) {
    /* extra large */
  
    html {
        font-size: 130%;
    }
    .main {
        width: 80%;
        padding-left: 20%;
    }
    .formBox {
        width: 50%;
        padding-top: 1rem;
        float: left;
    }
    .formBox label {
        margin: 1rem 0.2rem;
        font-size: 1rem;
    }
    .formBox label:first-child {
        width: 50%;
    }
    .formBox span {
        margin: 1rem 0.2rem;
        font-size: 1rem;
        padding-right: 2.2rem;
    }
    input {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;
    }
     button{
        position: relative;
         bottom: 0;
    }

    #btnSend {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0rem auto;
        font-size: 1rem;

    }
    #btnBack {
        width: 100%;
        padding: 0rem 0.2rem;
        margin: 0.1rem 0.2rem;
        font-size: 1rem;
        margin-right: 0.8rem;
    }
    .formBox.buttons {
        width: 100%;
        text-align: right;
        padding-top: 0.4rem;
    }
   
    .num_list li {
/*        margin: 1rem;*/
    }

}
#alertContent{
    color: red;
    border: 1px solid #467F7F;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center
}
